@font-face {
    font-family: 'BERD';
    src: url(/fonts/fonter.am_berd/BERD.otf);
}

* {
    margin: 5px;
    font-size: 20px;
}

a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    
}

input {
    border: 2px solid rgb(32, 48, 128);
    border-radius: 10px;
}

form {
    margin: auto;
    width: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
div {
    display: flex;
    justify-content: space-between;
}